<!DOCTYPE html>
<html>
<head>
    <title>Super Mega Password Generator 5000</title>
</head>
<body>

    <h1>Answer these Questions</h1>

    <form method="POST">
        {% for q in questions %}
            <label>{{ q.label }}</label><br>
            <input type="text" name="{{ q.name }}"><br><br>
        {% endfor %}

        <button type="submit" name="action" value="submit">
            Submit
        </button>

        <button type="submit" name="action" value="reset">
            Reset
        </button>
    </form>
    <!--display the password after user hits submit -->
    {% if password %}
        <h2>Your password:</h2>
        <p>{{ password }}</p>
    {% endif %}

</body>
</html>